@model Twitter.Models.LoginModel
@{
    ViewBag.Title = "Авторизация на сайте";
}
@Styles.Render("~/Content/sign-styles.css")

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <section class="sign-in-box">
        <div class="text-top-row">
            <h3> Sign In</h3>
        </div>

        <form method="post" class="form-row">
            <div class="form-group">
                <div class="form-under">Username </div>
                <label class="form-label" for="username"> </label>
                @Html.TextBoxFor(x => x.Name, new { @placeholder = "Type your username", @class = "form-input" })
            </div>
            <div class="form-group">
                <div class="form-under">Password </div>
                <label for="password"></label>
                @Html.PasswordFor(x => x.Password, new { @placeholder = "Type your password", @class = "form-input" })
            </div>
            <div class="btns">
                <button type="submit" class="sign-in-btn">Sign in</button>
                <button type="button" onclick="location.href='@Url.Action("Index", "Account")'" class="home-btn">Home</button>
            </div>
            <div class="text-create-row">
                @Html.ActionLink("Create new Account →", "Register", "Account")
            </div>
        </form>
    </section>
}
