@model Twitter.Models.RegisterModel
@{
    ViewBag.Title = "Создание аккаунта";
}
@Styles.Render("~/Content/register-styles.css")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <section class="sign-in-box">
        @Html.ValidationSummary()
        <div class="text-top-row">
            <h3> Register</h3>
        </div>
        <form method="post" class="form-row">
            <div class="form-group">
                <div class="form-under">Username </div>
                <label class="form-label" for="username"> </label>
                @Html.TextBoxFor(x => x.Name, new { @placeholder = "Type your username", @class = "form-input" })
            </div>
            <div class="form-group">
                <div class="form-under">Password </div>
                <label for="password"></label>
                @Html.PasswordFor(x => x.Password, new { @placeholder = "Type your password", @class = "form-input" })
            </div>
            <div class="form-group">
                <div class="form-under">Confirm the password</div>
                <label for="password"></label>
                @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Type your password again", @class = "form-input" })
            </div>
            <div class="btns">
                <button type="submit" onclick="location.href='@Url.Action("Index", "Account")'" class="sign-in-btn">Create</button>
                <button type="button" onclick="location.href='@Url.Action("Index", "Account")'" class="home-btn">Back</button>
            </div>
        </form>
    </section>
}
